@charset "UTF-8";
@font-face {
  font-family: 'simditor-clearhtml';
  src: url("../fonts/simditor-clearhtml.ttf?8xd6wo") format("truetype"), url("../fonts/simditor-clearhtml.woff?8xd6wo") format("woff"), url("../fonts/simditor-clearhtml.svg?8xd6wo#simditor-clearhtml") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="simditor-clearhtml-icon-"], [class*=" simditor-clearhtml-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simditor-clearhtml' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.simditor-clearhtml-icon-uuke-qingchu:before {
  content: "";
}
